.heading {
  font-size: 15px;
  font-weight: 600;
  color: #0F5EF0;
}

.title{
  font-size: 12px;
  font-weight: bold;
  color: #7A8594;
  text-transform: uppercase;
  margin: 18px 0 20px 0;
}

.modified{
  font-size: 12px;
  font-weight: 400;
  color: #7A8594;
}

.img-card-prop {
  height: 200px;
  width: 290px;
}

.mat-card{
  padding: 16px 16px 14px 16px;
  box-shadow: 0 2px 6px -3px #00000057;
  border-radius: 1px;
}

.mat-card:hover {
    box-shadow: 0 3px 18px -6px #000000bf;
}

.col-width {
      margin-right: 15px;
    margin-left: 15px;
}

.mat-card-image {
  margin: 0 -16px 20px -16px;
}

.mt-40 {
  margin-top: 40px !important;
      padding-left: 25px;
    padding-right: 25px;
}

.form-control{
  height: 30px;
  font-size: 12px;
  border-radius: 1px;
  color: #221F4D;
}

::placeholder {
  opacity: 50%; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 opacity: 50%;
}

::-ms-input-placeholder { /* Microsoft Edge */
 opacity: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
    height: 30px;
    line-height: 0.5;
    margin-bottom: 30px;
    background: #0F5EF0;
    font-size: 12px
}

.btn:hover{
  background: #0C4BC0;
}

label {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 12px;
  color: #221F4D
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 15px !important;
}

th.mat-header-cell {
    border-right: 1px solid #867e7e;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 15px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-right:15px; 
}