.heading {
  font-size: 15px;
  font-weight: 600;
  color: #0F5EF0;
}
.title{
  font-size: 12px;
  font-weight: bold;
  color: #7A8594;
  text-transform: uppercase;
  margin: 18px 0 20px 0;
}
.modified{
  font-size: 12px;
  font-weight: 400;
  color: #7A8594;
}

.img-card-prop {
  height: 200px;
  width: 290px;
}

.mat-card{
  padding: 16px 16px 14px 16px;
  box-shadow: 0 2px 6px -3px #00000057;
  border-radius: 1px;
}
.mat-card:hover {
    box-shadow: 0 3px 18px -6px #000000bf;
}


.mat-card-image {
    margin: 0 -16px 20px -16px;
}