
<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor='let card of cards'>
      <div class="col-width">
        <mat-card class="example-card m-3">
          <img mat-card-image src={{card.imgUrl}} alt="Photo of a Shiba Inu" class="img-card-prop">
          <mat-card-content>
            <a href="" class="heading">{{card.headingStr}}</a>
            <p class="title">{{card.title}}</p>
            <p class="modified">{{card.modifiedBy}}</p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div> 
    </ng-container>       
  </div>
</div>