/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, .mat-card {
  font-family: 'Open Sans' !important;
}

.mat-tab-body{
  border: 1px solid #eee !important;
}

tr.mat-header-row {
    background: #CBD6E2;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 15px;
}

.mat-sort-header-button {
    color: #221F4D !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    font-family: 'Open Sans' !important;
}

tbody tr:nth-child( odd ) {
   background: #FFFFFF; 
}
tbody tr:nth-child( even ) {
   background: #F5F8FA; 
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

th.mat-header-cell {
    border-right: 1px solid #867e7e;
    padding-right: 15px !important;
}

.mat-sort-header-container{
  position: relative;
}

.mat-sort-header-arrow {
    position: absolute !important;
    right: 0;
}

.mat-cell, .mat-footer-cell {
    font-family: 'Open Sans' !important;
    font-size: 12px;
    font-weight: 400;
}